.App {
  max-width: 1240px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.image-container {
  height: 100%;
  width: 100%;
  padding: 0 10px 10px 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}

.d-inline {
  display: inline;
}

@media screen and (min-width: 1024px) {
  .image-container {
    height: 384px;
    width: 512px;
  }
}